body {
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
}

h1,
h2 {
  color: #7b9e9e;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
}

ul {
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
}

header h3,
header h4 {
  color: darkgray;
  margin-top: -15px;
}

section h3 {
  color: #5e7575;
}

section h4 {
  color: gray;
  font-size: large;
}

header {
  margin-left: 210px;
  padding: 1px 16px;
}

section,
hr {
  margin-left: 210px;
  padding: 1px 16px;
  max-width: (100%-210px);
  width: 70%;
  margin-right: auto;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 190px;
  background-color: #91bab9;
  position: fixed;
  height: 100%;
  overflow: visible;
}

nav li {
  position: relative;
}

nav li b {
  font-size: larger;
  padding-top: 30px;
  padding-bottom: 20px;
  display: block;
  color: white;
  text-decoration: none;
  text-align: center;
}

nav li a,
nav h1 {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

nav a:hover {
  background-color: #c1c7c7;
  color: white;
}

/* dropdown */
.dropdown-content-sub {
  display: none;
  position: absolute;
  top: 100%;
}

.dropdown-content-sub a {
  margin-left: 10%;
  font-size: small;
  margin-top: -5px;
}

nav li:hover .dropdown-content-sub {
  display: block;
}

nav .dropdown:hover~.after-drop {
  margin-top: 180px;
}

nav a:hover {
  background-color: #c1c7c7;
  color: white;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center-pic-60 {
  width: 60%;
}

.center-pic-70 {
  width: 70%;
}

.center-pic-50 {
  width: 50%;
}

.center-pic-100 {
  width: 100%;
}

.center-pic-80 {
  width: 80%;
}

h6 {
  font-size: small;
  text-align: center;
}


section ul.a {
  list-style-type: circle;
  font-family: Arial, Helvetica, sans-serif;
}

table td {
  vertical-align: text-top;
  padding-right: 30px;
  text-align: center;
}

table {
  margin: auto;
}

p.thick {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

iframe {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 420px;
  height: 315px;
}

.tune {
  padding-left: 25px;
}

.table1 {
  width: 60%;
}

.table1 td {
  width: 30%;
}

.table2 tr {
  width: 90%;
}

.table td {
  width: 45%;
}

.ref li {
  font-family: Arial, Helvetica, sans-serif;
}