body {
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
}

h1,
h2 {
  color: #7b9e9e;
}

header h3,
header h4 {
  color: gray;
  margin-top: -15px;
}

section h4 {
  color: gray;
  font-size: large;
}

header,
hr {
  margin-left: 200px;
  padding: 1px 16px;
}

section {
  margin-left: 200px;
  padding: 1px 16px;
  width: 70%;

}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  /* width: 25%; */
  width: 180px;
  background-color: #91bab9;
  position: fixed;
  height: 100%;
  overflow: auto;
}

nav li a,
nav h1 {
  display: block;
  color: white;
  padding: 8px 16px;
  text-decoration: none;
}

nav a:hover {
  background-color: #c1c7c7;
  color: white;
}


/* Responsive Styles */
@media screen and (min-width: 200px) {
  .dropdown-btn {
    display: none;
  }
}

@media screen and (max-width: 200px) {
  nav {
    flex-direction: column;
    align-items: flex-end;
    /* Align items to the right */
  }

  .dropdown-content {
    display: none;
  }

  .dropdown-btn {
    display: block;
    background-color: #91bab9;
    color: white;
    border: none;
    text-align: right;
    /* Align text to the right */
    padding: 10px;
    width: 100%;
    cursor: pointer;
  }

  .show {
    display: block;
  }
}